.contentContainer {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2rem;
  height: calc(100vh - 5rem);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.posts {
  max-width: 720px;
  margin: 5rem auto 0;

  a {
    display: block;    

    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;

    color: var(--pink-700);
    cursor: pointer;
  }
}